@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
/* Sección NAV */

nav{
    height: 80px;
    display: flex;
}

.nav__container{
    width: 100%;
    padding: 0 24px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo--wrapper{
    width: 160px;
}

.nav__logo{
    width: 100%;
}

.nav__link{
    color: #2a2fb7;
    margin-left: 16px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
}

.nav__link--primary{
    border: 2px solid #2a2fb7;
    border-radius: 4px;
}
